<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Railway" verbose="1" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="TestListener"></listener>
    </listeners>

    <test name="Firefox test">
        <parameter name="browser" value="firefox"/>
<!--        <parameter name="runMode" value="grid"/>-->
        <classes>
            <class name="LogoutTest"></class>
        </classes>
    </test>

    <test name="Chrome test">
        <parameter name="browser" value="chrome"/>
<!--        <parameter name="runMode" value="grid"/>-->
        <classes>
            <class name="LogoutTest"/>
        </classes>
    </test>

    <test name="MicrosoftEdge test">
        <parameter name="browser" value="edge"/>
<!--        <parameter name="runMode" value="grid"/>-->
        <classes>
            <class name="LogoutTest"/>
        </classes>
    </test>

</suite>
